html, body {
    height: 100%; /* Ensure html and body elements take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font for the body */
    overflow-y: hidden;
    overflow-x: hidden;
    touch-action: manipulation; /* Prevent pinch-zooming */
    background-color: #fbf5f4;
}

.container {
    width: 100%;
    height: 100%;
    /* max-width: 1800px; */
}

#bmi {
    top: 5%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: auto;
    text-align: center;
    /* overflow: hidden; */
    transition: opacity 0.7s ease-out ;
}

#bmi span{
    /* margin-top: 10%; */
    font-weight: 900; /* Bold */
    font-size: 32px;
    font-style: italic;
    color: #F74A66;
}

.card {
    width: 90%;
    height: 65%;
    background-color: grey;
    border-radius: 15px;
    position: relative; /* Position absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center using translate */
    cursor: grab;
    font-size: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    max-width: 850px;

}

#matchCard {
    display: none;
    left: -100%;
    transition: left 0.4s ease-out, transform 0.6s ease;
}  

#matchpic{
    width: 100%;
    height: 100%;
    background-image: url("assets/match.jpeg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
}

#nerdpic{
    width: 100%;
    height: 100%;
    background-image: url("assets/nerd.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;

}
#coolpic{
    width: 100%;
    height: 100%;
    background-image: url("assets/badboy.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;

}
#profileDescription {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
}
  

#age {
    font-weight: 400;
    margin-left: 5px;
    font-size: 30px;
}

#detailsSection {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.details {
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center; /* Vertically center the content */
}

.icon-container {
    width: 20px; /* Set a fixed width for the icon container */
    height: 20px; /* Set a fixed height for the icon container */
    margin-right: 5px; /* Adjust as needed */
}


#name {
    /* font-size: 23px; */
    font-size: 2.5rem;
    font-weight: 500;
}

#likeBox {
    position: absolute;
    top: 10%;
    left: 10%;
    
    display: inline-block; /* Make the div behave like an inline element */
    padding: 10px; /* Add padding to adjust the spacing around the text */
    color: #63DE9B;
    border: 3px solid #63DE9B;
    border-radius: 5px;
    font-weight: 500;
    transform: rotate(-25deg);
    box-shadow: 0 0 20px #63DE9B; /* Add a glowing effect */
    display: none;
    
}

#uglyBox {
    position: absolute;
    top: 10%;
    right: 10%;
    
    display: inline-block; /* Make the div behave like an inline element */
    padding: 10px; /* Add padding to adjust the spacing around the text */
    color: #F74A66;
    border: 3px solid #F74A66;
    border-radius: 5px;
    font-weight: 500;
    transform: rotate(25deg);
    box-shadow: 0 0 20px #F74A66, 0 0 20px #F74A66; /* Add a glowing effect */
    display: none;
    
}

#wrongAnswer {
    position: absolute;
    top: 7%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    
    display: inline-block;
    padding: 10px;
    color: #c056e0;
    border: 3px solid #c056e0;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 20px #c056e0, 0 0 20px #c056e0; /* Add a glowing effect */
    white-space: nowrap; /* Ensure text remains on one line */
    display: none;
}
#nerdmode {
    position: absolute;
    top: 7%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    
    display: inline-block;
    padding: 10px;
    color: #ffc83d;
    border: 3px solid #ffc83d;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 20px #ffc83d, 0 0 20px #ffc83d; /* Add a glowing effect */
    white-space: nowrap; /* Ensure text remains on one line */
    background: radial-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
    transition: opacity 0.5s ease-in-out ;
    opacity: 0;

}

#badboymode {
    position: absolute;
    top: 7%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    
    display: inline-block;
    padding: 10px;
    color: #4ab2f7;
    border: 3px solid #4ab2f7;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 20px #4ab2f7, 0 0 20px #4ab2f7; /* Add a glowing effect */
    white-space: nowrap; /* Ensure text remains on one line */
    transition: opacity 0.5s ease-in-out ;
    opacity: 0;

}

#magicButtons {
    top: 88%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#playAgainBox {
    
    top: 88%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#playAgain {
    padding: 10px;
    display: none;
    color: #F74A66;
    border: 3px solid #F74A66;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 20px #F74A66, 0 0 20px #F74A66; /* Add a glowing effect */
    white-space: nowrap; /* Ensure text remains on one line */
    font-size: 30px;
    transition: opacity 3s ease-in-out ;
    opacity: 0;

}


#magicButtons button {
    color: white; /* Button text color */
    border-radius: 50%; /* Rounded corners */
    padding: 15px; /* Padding around the text */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition for background color */
    width: 70px; /* Width of the button */
    height: 70px; /* Height of the button */
    display: flex;
    align-items: center;
    justify-content: center;
}


#xBtn {
    border: 2px solid #F74A66;
    background-color: white;
}

#xBtn i {
    font-size: 2.5em;
    background: linear-gradient(to top right, #d41d54, #F74A66); /* Define the linear gradient */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Set the text color to transparent */
}

#heartBtn{
    border: 2px solid #63DE9B;
    background-color: white;
}

#heartBtn i {
    font-size: 2em;
    background: linear-gradient(to right, #63DE9B, #22ca6e); /* Define the linear gradient */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Set the text color to transparent */
}

#nerdBtn{
    border: 2px solid #ffc83d;
    font-size: 35px !important;
    background-color: white;
}

#badboyBtn{
    border: 2px solid #4ab2f7;
    font-size: 35px !important;
    background-color: #4ab2f7;
}
