html, body {
    height: 100%; /* Ensure html and body elements take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font for the body */
    overflow-y: hidden;
    overflow-x: hidden;
    touch-action: manipulation; /* Prevent pinch-zooming */
    background-color: #fbf5f4;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#bmi {
    top: 5%;
    width: 100%;
    position: absolute;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
}

#bmi span{
    /* Use Montserrat font for headings */
    font-weight: 900; /* Bold */
    font-size: 38px;
    font-style: italic;
    color: #F74A66;
}

#card {
    width: 90%;
    height: 65%;
    background-color: grey;
    border-radius: 15px;
    position: relative; /* Position absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center using translate */
    cursor: grab;
    font-size: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#likeBox {
    position: absolute;
    top: 10%;
    left: 10%;
    
    display: inline-block; /* Make the div behave like an inline element */
    padding: 10px; /* Add padding to adjust the spacing around the text */
    color: #63DE9B;
    border: 3px solid #63DE9B;
    border-radius: 5px;
    font-weight: 500;
    transform: rotate(-25deg);
    box-shadow: 0 0 20px #63DE9B; /* Add a glowing effect */
    display: none;
    
}

#uglyBox {
    position: absolute;
    top: 10%;
    right: 10%;
    
    display: inline-block; /* Make the div behave like an inline element */
    padding: 10px; /* Add padding to adjust the spacing around the text */
    color: #F74A66;
    border: 3px solid #F74A66;
    border-radius: 5px;
    font-weight: 500;
    transform: rotate(25deg);
    box-shadow: 0 0 20px #F74A66, 0 0 20px #F74A66; /* Add a glowing effect */
    display: none;
    
}

#wrongAnswer {
    position: absolute;
    top: 7%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    
    display: inline-block;
    padding: 10px;
    color: #4ab2f7;
    border: 3px solid #4ab2f7;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 20px #4ab2f7, 0 0 20px #4ab2f7; /* Add a glowing effect */
    white-space: nowrap; /* Ensure text remains on one line */
    display: none;
}

#magicButtons {
    top: 88%;
    width: 100%;
    position: absolute;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    gap: 20px;
}

#magicButtons button {
    background-color: #ffffff; /* Button background color */
    color: white; /* Button text color */
    border-radius: 50%; /* Rounded corners */
    padding: 15px; /* Padding around the text */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition for background color */
    width: 70px; /* Width of the button */
    height: 70px; /* Height of the button */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Optional: Style icons */
/* #magicButtons button i {
    font-size: 2em;
} */


#xBtn {
    border: 2px solid #F74A66;
}
#xBtn i {
    font-size: 2.5em;
    background: linear-gradient(to top right, #d41d54, #F74A66); /* Define the linear gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Set the text color to transparent */
}

#heartBtn{
    border: 2px solid #63DE9B;
}
#heartBtn i {
    font-size: 2em;
    background: linear-gradient(to right, #63DE9B, #22ca6e); /* Define the linear gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Set the text color to transparent */
}
#nerdBtn{
    border: 2px solid #ffc83d;
    font-size: 35px !important;
}
#badboyBtn{
    border: 2px solid #4ab2f7;
    font-size: 35px !important;
}


@media screen and (min-width: 768px) {
    #bmi span {
        font-size: 64px; /* Increase font size for larger screens */
    }
    #card {
        font-size: 50px; /* Increase font size for larger screens */
    }
}

@media screen and (min-width: 1024px) {
    #bmi span {
        font-size: 85px; /* Further increase font size for even larger screens */
    }
    #card {
        font-size: 70px;/* Increase font size for larger screens */
    }
}



